<!DOCTYPE html>
<html>
<head>
  <title>Tunageru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top_navi">
  <span id="navi_logo">
    <%= link_to image_tag('logos/black_square.png'), root_path %>
  </span>
  <span id="navi_words">

    <a href="<%= root_path %>"><h1>Tunageru</h1></a>
    <p>
      <% if student_signed_in? %>
        <a href="<%= student_path(current_student) %>">
          <% if current_student.avatar_file_name %>
            <img src="<%= current_student.avatar.url(:medium)%>">&nbsp;&nbsp;&nbsp;
          <% end %>
          <%= current_student.name %>
        </a>
        &nbsp;
        <%= link_to "(編集)", edit_student_path(current_student) %>&nbsp;&nbsp;&nbsp;
        <%= link_to 'ログアウト', destroy_student_session_path, method: :delete %>
      <% elsif worker_signed_in? %>
        <a href="<%= worker_path(current_worker) %>">
          <% if current_worker.avatar_file_name %>
            <img src="<%= current_worker.avatar.url(:medium)%>">&nbsp;&nbsp;&nbsp;
          <% end %>
          <%= current_worker.name %>
        </a>
        &nbsp;
        <%= link_to "(編集)", edit_worker_path(current_worker) %>&nbsp;&nbsp;&nbsp;
        <%= link_to 'ログアウト', destroy_worker_session_path, method: :delete %>
      <% end %>
    </p>
  </span>
</div>

<%= yield %>

</body>
</html>
