<!DOCTYPE html>
<html>
<head>
  <title>Tunageru</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top_navi">
  <span id="navi_logo">
    <%= link_to image_tag('logos/black_square.png'), root_path %>
  </span>
  <span id="navi_words">
    <h1>Tunageru</h1>
    <p>
    <% if student_signed_in? %>
      <%= link_to "マイページ", student_path(current_student) %>
      <%= link_to "(編集)", edit_student_path(current_student) %>&nbsp;&nbsp;&nbsp;
      <%= link_to '学生のログアウト', destroy_student_session_path, method: :delete %>
    <% elsif worker_signed_in? %>
      <%= link_to "マイページ", worker_path(current_worker) %>
      <%= link_to "(編集)", edit_worker_path(current_worker) %>&nbsp;&nbsp;&nbsp;
      <%= link_to '社会人のログアウト', destroy_worker_session_path, method: :delete %>
    <% end %>
    </p>
  </span>
</div>

<%= yield %>

</body>
</html>
